<html>
    <head>
        <a href="/asset/style.css" text='text/css' rel="stylesheet"></a>
        <script type="text/javascript" src="/asset/dynamic.js"></script>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
</html>